/*********************************************************************************/
/* All Page                                                                     */
/*********************************************************************************/
body {
    margin: 0px;
    padding: 0px;
    background: #f3f2ed;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #8A8A8A;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.blue-button {
    position: relative;
    display: inline-block;
    padding: .5em 1em;
    background: #0d447d;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    cursor: pointer;
}

.button:hover {
    color: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
    position: relative;
    text-align: center;
	display: flex;
}

#logo {
    margin-bottom: 1em;
}

#logo h1 a {
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    color: #323338;
}

#logo span {
    display: block;
    padding-top: 0em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.5em;
    color: #8e8588;
}

#nav > ul > li {
    display: inline-block;
}

#nav > ul > li > a, #nav > ul > li > span {
    display: block;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    outline: 0;
    color: #1d83f5;
}

#nav li.active a{
    border-radius: 4px;
    color: #FFF;
    background: #0d447d;
}

 #nav > ul > li.active > a:hover, #nav > ul > li.active > span:hover {
    border-radius: 4px;
    color: #FFF;
    background: #e93232;
 }
 
 #nav > ul > li > a:hover, #nav > ul > li > span:hover {
    border-radius: 4px;
    color: #FFF;
    background: #0d447d;
 }

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer .container {
    padding: 3em 0em;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.1);
    margin-top: 1rem;
}

/*********************************************************************************/
/* Page specific                                                                 */
/*********************************************************************************/

    /* Login page */
    .login-page {
        padding: 5em 0em;
    }
    /* Userlist page */
    .table_toolbar {
        background: #0d447d;
        padding: 0.4em;
        border-radius: 4px 4px 0px 0px;
    }
    .table_toolbar > a.btn {
        padding: .3rem .5rem;
    }
    .user-table{
        border: 1px solid #ccc;
        border-radius: 0px 0px 4px 4px;
        min-height: 300px;
    }
    .user-table tr{
        cursor: pointer;
    }
    
    .user-table .btn{
        width: 80px;
        padding: .1rem;
    }
    
    .btn-status-1:hover span {
        display:none
    }
    
    .btn-status-1:hover:before{
        content: "Activate";
    }
    
    .btn-status-1:hover{
        background-color: #ffc107;
        border-color: #ffc107;
    }
    
    .btn-status-0:hover span {
        display:none
    }
    
    .btn-status-0:hover:before{
        content: "Block";
    }
    
    .btn-status-0:hover{
        background-color: #dc3545;
        border-color: #dc3545;
    }