/*********************************************************************************/
/* All Page                                                                     */
/*********************************************************************************/
body {
    margin: 0px;
    padding: 0px;
    background: #f3f2ed;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    /*color: #8A8A8A;*/
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.blue-button {
    position: relative;
    display: inline-block;
    padding: .5em 1em;
    background: #0d447d;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    cursor: pointer;
}

.button:hover {
    color: #FFF;
}

.required:after {
    content:" *";
    color: red;
}

.m2mj-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.m2mj-dialog .m2mj-modal-content{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    width: 300px;    
    position: relative;
    margin: auto;    
    top: 50%;
    transform: translateY(-50%);
}

.m2mj-dialog #modal-action{
    text-transform: capitalize;
}

.dialog-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .5;
}

#toast{
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
}

.help-tip{
    position: relative;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
    display: none;
    text-align: justify;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 999;
    top: 25px;
    left: -15px;
}

.help-tip p:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    top:-12px;
}

.help-tip p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

#entry_serch_result_page_ajax .table_toolbar{
    min-height: 45px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-bottom: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.span-divider{
    color: #b1b1b1;
    margin: 0px 5px;
}

.section-head {
    margin-left: -15px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#nav-header {
    position: relative;
    text-align: center;
    display: flex;
}

#header #logo {
    text-align: left;
    display: inline-block;
}

#header #logo h1{
    margin-bottom: 0;
}

#header #logo h1 a {
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 900;
    color: #323338;
}

#header #logo span {
    display: block;
    padding-top: 0em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.28em;
    color: #8e8588;
}

#nav > ul{
    padding-left: 0px;
}

#nav > ul > li {
    display: inline-block;
}

#nav > ul > li > a, #nav > ul > li > span {
    display: block;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    outline: 0;
    color: #1d83f5;
}

#nav li.active a{
    border-radius: 4px;
    color: #FFF;
    background: #0d447d;
}

 #nav > ul > li.active > a:hover, #nav > ul > li.active > span:hover {
    border-radius: 4px;
    color: #FFF;
    background: #e93232;
 }
 
 #nav > ul > li > a:hover, #nav > ul > li > span:hover {
    border-radius: 4px;
    color: #FFF;
    background: #0d447d;
 }
 
.usr-icon {
    position: relative;
    display: inline-block;
    margin: 5px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    margin-left: -120px;
}

#user_rows_dropdown,#number_of_rows_dropdown{
    margin-top: -155px;
    margin-left: 0;
    min-width: 50px;
    width: 60px;
    padding: 0;
}

#user_rows_dropdown a,#number_of_rows_dropdown a{
    padding: .5rem 1rem;
    text-align: center;
}

.table thead th{
    vertical-align: middle;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer .container {
    padding: 3em 0em;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.1);
    margin-top: 1rem;
}

/*********************************************************************************/
/* Page specific                                                                 */
/*********************************************************************************/

    /* Login page */
    .login-page {
        padding: 5em 0em;
    }
    
    #login-header {
        position: relative;
        text-align: center;
        display: flex;
    }    

    #login-header #logo {
        margin-bottom: 1em;
    }

    #login-header #logo h1 a {
        display: block;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 900;
        color: #323338;
    }

    #login-header #logo span {
        display: block;
        padding-top: 0em;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.5em;
        color: #8e8588;
    }

    /* Userlist page */
    .table_toolbar {
        background: #0d447d;
        padding: 0.4em;
        border-radius: 4px 4px 0px 0px;
        min-height: 50px;
    }
    
    .table_toolbar > .btn {
        padding: .3rem .5rem;
    }
    .table_footer{
        background: #0d447d;
        padding: 0.1em 0.4em;
        border-radius: 0px 0px 4px 4px;
        color: #ccc;
    }
    
    .user-table{
        border: 1px solid #ccc;
        border-radius: 0px 0px 4px 4px;
        min-height: 300px;
    }
    .user-table tr, .company-table tr, .job_order-table tr, #entry_search_result_table .entry-row-item, .applicant-row-item {
        cursor: pointer;
    }
    
    .user-table .btn{
        width: 80px;
        padding: .1rem;
    }
    
    .btn-status-2:hover span {
        display:none
    }
    
    .btn-status-2:hover:before{
        content: "Activate";
    }
    
    .btn-status-2:hover{
        background-color: #ffc107;
        border-color: #ffc107;
    }
    
    .btn-status-1:hover span {
        display:none
    }
    
    .btn-status-1:hover:before{
        content: "Block";
    }
    
    .btn-status-1:hover{
        background-color: #dc3545;
        border-color: #dc3545;
    }
    
    /* Userlist page */
    .profile-form{
        border: 1px solid #cecece;
        padding: 20px;
        border-radius: 5px;
    }
        
    /* Job order details page */
    .pill-button{
        min-width: 80px;
    }
    .pill-button-removable:hover{
        background-color: #dc3545;
        border-color: #dc3545;
    }